<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}User Management{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .greeting{
            display: inline;
        }
        .nav_div{
            padding: 20px 50px;
            background: #bdc3c7;
        }
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <div class="fluid-container ">
            <div class="row">
                <div class="col-lg-12 nav_div">
                    <h1 class="greeting">Welcome, {% block username %}{{ username }}{% endblock %}</h1>
                    <a href="{% url 'logout' %}" class="btn btn-primary float-right">Logout</a>
                </div>
            </div>
        </div>
    </header>

    {% block maincontent %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>