{% extends 'welcome.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container">
        <form id="login_form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1>Login</h1>
            {% if form.errors %}
                {{ form.error }}
            {% endif %}
            <table>{{ form.as_table }}</table>
            <input class="btn btn-info" type="submit" name="submit" value="Login">
        </form>
    </div>

    <script>
        $(document).on('submit', '#login_form', function(e){
            e.preventDefault();
            let form = $(this);
            $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(), // contentType:false,cache:false,processData:false --> for file uploading
                //  data : new FormData(this)    --> this is for file upload through ajax i.e for multipart/form-data
                    success: function (data) {
                        console.log(data);
                    }
            });
        });
    </script>
{% endblock %}
