{% extends 'base.html' %}
{% block title %} Users{% endblock %}
{% block username %} {{ user.first_name }}{% endblock %}

{% block maincontent%}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 center">
                <a href="{% url 'user_list' %}">Users</a>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="{% url 'group_list' %}">Groups</a>
                <h1>Users</h1>
                {% if is_admin %}
                    <a href="{% url 'add_user' %}" class="btn btn-primary float-right m-3">+Add User</a>
                {% endif %}
                <table class="table table-hover table-bordered">
                    <thead>
                    <th>#</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{% url 'view_user_details' user.id %}" class="btn btn-info">View</a>
                                {% if is_admin %}
                                    <a href="{% url 'edit_user' user.id %}" class="btn btn-success">Edit</a>
                                    <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}