<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}User Management{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .greeting{
            display: inline;
        }
        .nav_div{
            padding: 20px 50px;
            background: #bdc3c7;
        }
        .center{
            text-align: center;
        }
        #login_form{
                text-align: center;
                max-width: 500px;
                margin: 0 auto;
                margin-top: 100px;
                background: gray;
                padding: 10px 50px;
        }
        #register_form{
                text-align: center;
                max-width: 500px;
                margin: 0 auto;
                margin-top: 100px;
                background: gray;
                padding: 10px 50px;
        }
        table{
            margin: 30px auto;
        }
        table tbody{
            margin: 10px auto;
            padding: 5px 15px;
        }
        tr{
            margin: 5px auto;
        }
    </style>
</head>
<body>
    <header>
        <div class="fluid-container ">
            <div class="row">
                <div class="col-lg-12 nav_div">
                    <a href="{% url 'welcome' %}"><h1 class="greeting">User Management</h1></a>
                    <a href="{% url 'register' %}" class="btn btn-primary float-right">Sign Up</a>
                    <a href="{% url 'login' %}" class="btn btn-primary float-right mr-2">Login</a>
                </div>
            </div>
        </div>
    </header>
{% block content %}

{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>